:root {
  --roi-theme-main-color: #2b2c3a;
  --roi-theme-main-color2: #ffffff;
  --roi-theme-video-bg: #9c9fbd;
  --roi-theme-font: "sans-serif";
  --roi-theme-head-size: 42px;
  --roi-theme-head-font: inherit;
}

body {
  background-color: #fefbf8; /* #eeefee; */
  color: #333;
  display: grid;
  font-family: var(--roi-theme-font);
  font-size: 20px;
  line-height: 145%;
  margin: 0;
}
body.bigtext {
  font-size: 2.5vw;
}
input, textarea { box-sizing: border-box }
h1, h2, h3 {
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  padding: 10px;
  text-align: left;
}
tr {
  border-bottom: thin solid #e6e6e6;
}
tr:last-child {
  border-bottom: none;
}
a { color: var(--roi-theme-main-color, #459745); }
a:visited { opacity: 0.6; }
body > header {
  display: flex;
}
body > header h1 {
  color: var(--roi-theme-main-color, #459745);
  font-size: var(--roi-theme-head-size);
  margin: 10px auto;
  font-family: var(--roi-theme-head-font);
  line-height: 1;
}
body > header span {
  color: #666;
  font-size: 20px;
  font-weight: 300;
  top: 10px;
  position: relative;
}
section.card {
  background-color: #fff;
  box-sizing: border-box;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
}
section.card.lg { max-width: 960px; }
section.card.sm { max-width: 300px; }

.radio-group {
  border: solid 1px var(--roi-theme-main-color2);
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
}
.radio-group input[type=radio] {
  height: 0;
  left: -9999px;
  position: absolute;
  width: 0;
}
.radio-group label {
  color: var(--roi-theme-main-color2);
  cursor: pointer;
  display: inline-block;
  min-width: 80px;
  text-align: center;
}
.radio-group input[type=radio]:checked + label{
  color: var(--roi-theme-main-color);
  background: var(--roi-theme-main-color2);
  font-weight: bold;
  opacity: 0.5;
}
.radio-group input[type=radio]:focus + label{
  outline: 5px solid white;
  opacity: 1;
}
