config:
  target: "http://localhost:3000"
  phases:
    - duration: 10
      arrivalRate: 100
  ws:
    headers:
      Sec-WebSocket-Protocol: graphql-ws
scenarios:
  - flow:
      - post:
          url: "/graphql"
          json:
             query: |
               query Myself {
                 currentPerson {
                   name
                   id
                   num
                   meetingId
                   admin
                   room
                 }
               }
      - post:
          url: "/graphql"
          json:
             query: |
               mutation Login($num: Int!, $mId: String!, $password: String!) {
                 authenticate(input: {num: $num, meetingId: $mId, password: $password}) {
                   jwtToken
                 }
               }
             variables:
               num: 1000
               mId: nmlm12
               password: test
          capture:
            json: "data.authenticate.jwtToken"
            as: "jwt"
      - post:
          url: "/graphql"
          headers:
            Authorization: "Bearer {{ jwt }}"
          json:
             query: |
               query Myself {
                 currentPerson {
                   name
                   id
                   num
                   meetingId
                   admin
                   room
                 }
               }
          match:
            json: "data.currentPerson.num"
            value: 1000
      - post:
          url: "http://localhost:3000"
          send:
            hi: world
